@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    background-image: url('/MediCareDrone/resources/images/system/vtol.png'); /* Change path accordingly */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    background-color: rgba(255, 255, 255, 0.35); /* 85% opaque */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 90%;
    max-width: 550px;
    backdrop-filter: blur(5px); /* Optional: gives a frosted glass effect */
}


h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

.row {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.col {
    width: 48%;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 3px;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #45a049;
}